pkgbase = duckstation-git
	pkgdesc = Fast PlayStation 1 emulator for PC and Android (Git version)
	pkgver = 0.1.r11806.7b6316189
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = CC-BY-NC-ND-4.0
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = extra-cmake-modules
	makedepends = vulkan-headers
	makedepends = clang
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-wayland
	depends = sdl3
	depends = curl
	depends = libzip
	depends = libwebp
	depends = zstd
	depends = libjpeg-turbo
	depends = freetype2
	depends = harfbuzz
	depends = spirv-cross
	depends = dbus
	depends = libbacktrace
	optdepends = discord-rpc: for Discord integration
	optdepends = libcpuinfo: for better CPU detection
	optdepends = plutosvg: for SVG support
	noextract = cheats.zip
	noextract = patches.zip
	source = duckstation::git+https://github.com/stenzek/duckstation.git
	source = cpuinfo::git+https://github.com/stenzek/cpuinfo.git
	source = shaderc::git+https://github.com/stenzek/shaderc.git
	source = discord-rpc::git+https://github.com/stenzek/discord-rpc.git
	source = soundtouch::git+https://github.com/stenzek/soundtouch.git
	source = libpng-1.6.56.tar.xz::https://downloads.sourceforge.net/project/libpng/libpng16/1.6.56/libpng-1.6.56.tar.xz
	source = libpng-1.6.56-apng.patch.gz::https://downloads.sourceforge.net/project/libpng-apng/libpng16/1.6.56/libpng-1.6.56-apng.patch.gz
	source = bypass-checks.patch
	source = system-libs.patch
	source = libpng-apng-fix.patch
	source = cheats.zip::https://github.com/duckstation/chtdb/releases/download/latest/cheats.zip
	source = patches.zip::https://github.com/duckstation/chtdb/releases/download/latest/patches.zip
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = f653a3177e0910fc156a792d5522fc2a0c04ce0bb43eabb68e06922303dcf6062d8f9b570440bfe1a94ac1b901ef6e9c32b6882d0f4a406e5a9090ea3396f89a
	b2sums = f74156fba9dab6c466393ff2fc340b6929aec30d1af0f586046f6ad2f4f85b17d331de7e6a2f8047d51728976e000adf01fde4478a36ea3e4bea33833f1aa40e
	b2sums = 7a568dc568e3271007a15ad04ca5501a885bf4430049447d362a70124b0ef5bd3d0be6a3fb23ff48d640d205cfb7bacd1aada28b037f8f29ff5f611946aeb239
	b2sums = c916acc211726ff9a70a5a4f5e62580cde5c99d0bed64a3b772a556b12271f620f25f3579f392e875aff2bcda91896c71e28d03b97b10bb253967cecb0362083
	b2sums = 39215976258577b31938a356e5abe465eb78324ad84830cbc5039048a0ed462c4d00b6b20a6105451b4e44209a7e165e0dd163e2e9a82a3157a5a48710500fa3
	b2sums = 980c18b91b4ef55ace155cbd6647f5a6c19ffe61abfc6d6a01a065a2a6806f954452e89cb87db445108c873ff31fb61f1ab2e94d6c4c65a7d9d9e9db5b46a145
	b2sums = f31ca79aff3f3c9bf7a09203e7f5dca6864d428f8bac09f74b3d85ab4c84bf301e2ce77d5bd363d069e7870bc1f87985667d5b2ba235d95e3ac25c64198685e8

pkgname = duckstation-git
