pkgbase = duckstation-git
	pkgdesc = Fast PlayStation 1 emulator for PC and Android (Git version)
	pkgver = 0.1.r12635.0cafa7633
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = CC-BY-NC-ND-4.0
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = extra-cmake-modules
	makedepends = vulkan-headers
	makedepends = clang
	makedepends = patchelf
	makedepends = sdl3
	makedepends = libzip
	makedepends = libwebp
	makedepends = libjpeg-turbo
	makedepends = freetype2
	makedepends = harfbuzz
	makedepends = spirv-cross
	makedepends = sqlite
	depends = qt6-base
	depends = curl
	depends = zstd
	depends = libbacktrace
	depends = glibc
	depends = systemd-libs
	depends = libstdc++
	depends = libgcc
	depends = zlib
	depends = sqlite
	optdepends = discord-rpc: for Discord integration
	optdepends = libcpuinfo: for better CPU detection
	optdepends = plutosvg: for SVG support
	optdepends = qt6-svg: for SVG icon rendering
	optdepends = qt6-wayland: for Wayland display support
	optdepends = sdl3: for gamepad/controller and SDL audio support
	optdepends = libzip: for loading ZIP archives (cheats, patches, zipped games)
	optdepends = libwebp: for WebP image support
	optdepends = libjpeg-turbo: for JPEG image support
	optdepends = freetype2: for on-screen display font rendering
	optdepends = spirv-cross: for runtime shader translation
	source = duckstation::git+https://github.com/stenzek/duckstation.git
	source = cpuinfo::git+https://github.com/stenzek/cpuinfo.git
	source = shaderc::git+https://github.com/stenzek/shaderc.git
	source = discord-rpc::git+https://github.com/stenzek/discord-rpc.git
	source = soundtouch::git+https://github.com/stenzek/soundtouch.git
	source = libpng-1.6.59.tar.xz::https://downloads.sourceforge.net/project/libpng/libpng16/1.6.59/libpng-1.6.59.tar.xz
	source = libpng-1.6.59-apng.patch.gz::https://downloads.sourceforge.net/project/libpng-apng/libpng16/1.6.59/libpng-1.6.59-apng.patch.gz
	source = bypass-checks.patch
	source = system-libs.patch
	source = libpng-apng-fix.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = f2656b0d9a3865faf957e8600a7617516d9139d15c6d7581c06b4829b4c9338ec5f747e4ccfcc49b6b9f5a96f0476121eda99457469c8e1cfecd8ecc3b1697ed
	b2sums = c1af0a12c12ad0d022ee99b5ac05b5a0d84f3fc9936a747b509fd62680184f63147d6980f36b8c102fba9d70ac44cdcd641fa495faea4a62c524e66534cb569f
	b2sums = 7a568dc568e3271007a15ad04ca5501a885bf4430049447d362a70124b0ef5bd3d0be6a3fb23ff48d640d205cfb7bacd1aada28b037f8f29ff5f611946aeb239
	b2sums = 0a651de76c0ad5f080db18a5a7051de042479ef94de799777902403bbfce0faa5f4c37392db0a05c858ca545ac7b4ef67d6e9edfbac333011dac04c64dbbf377
	b2sums = 4df60f5e43cac651457fb866212baab36a3de3c82d9eb5ff28566c4973fd0cfcf3b3f7d779057d741396483690a0dd06a892c1e6f1225ebd609dd38bbd3d6f24

pkgname = duckstation-git
