pkgbase = duckstation-git
	pkgdesc = Fast PlayStation 1 emulator for PC and Android (Git version)
	pkgver = 0.1.r11768.8056dc705
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = CC-BY-NC-ND-4.0
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = extra-cmake-modules
	makedepends = vulkan-headers
	makedepends = clang
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-wayland
	depends = sdl3
	depends = curl
	depends = libzip
	depends = libwebp
	depends = zstd
	depends = libjpeg-turbo
	depends = freetype2
	depends = harfbuzz
	depends = spirv-cross
	depends = dbus
	depends = libbacktrace
	optdepends = discord-rpc: for Discord integration
	optdepends = libcpuinfo: for better CPU detection
	optdepends = plutosvg: for SVG support
	source = duckstation::git+https://github.com/stenzek/duckstation.git
	source = cpuinfo::git+https://github.com/stenzek/cpuinfo.git
	source = shaderc::git+https://github.com/stenzek/shaderc.git
	source = discord-rpc::git+https://github.com/stenzek/discord-rpc.git
	source = soundtouch::git+https://github.com/stenzek/soundtouch.git
	source = libpng-1.6.56.tar.xz::https://downloads.sourceforge.net/project/libpng/libpng16/1.6.56/libpng-1.6.56.tar.xz
	source = libpng-1.6.56-apng.patch.gz::https://downloads.sourceforge.net/project/libpng-apng/libpng16/1.6.56/libpng-1.6.56-apng.patch.gz
	source = bypass-checks.patch
	source = system-libs.patch
	source = libpng-apng-fix.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = f653a3177e0910fc156a792d5522fc2a0c04ce0bb43eabb68e06922303dcf6062d8f9b570440bfe1a94ac1b901ef6e9c32b6882d0f4a406e5a9090ea3396f89a
	b2sums = f74156fba9dab6c466393ff2fc340b6929aec30d1af0f586046f6ad2f4f85b17d331de7e6a2f8047d51728976e000adf01fde4478a36ea3e4bea33833f1aa40e
	b2sums = 5a89c7bb60c2a1672a3eabd9ec772740762d08199f5f1a6b82a1acecc520e2c106f5f7dbe4755e5f13bca42626826fcdee5321d1220ef1985f4c89454b8ae9c2
	b2sums = 0e1d07587bbb2cd5db8a240b3ec83965c7e13632bd482771858d26cda98caac109d209b15ed54beabdac61926ed49cfa2618c57746632e87458c4058569e0b1e
	b2sums = 39215976258577b31938a356e5abe465eb78324ad84830cbc5039048a0ed462c4d00b6b20a6105451b4e44209a7e165e0dd163e2e9a82a3157a5a48710500fa3

pkgname = duckstation-git
