pkgbase = 2s2h-git
	pkgver = 5.0.1.r30.g14cdcf679
	pkgrel = 1
	url = https://github.com/HarbourMasters/2ship2harkinian
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = curl
	makedepends = lsb-release
	makedepends = boost
	makedepends = nlohmann-json
	makedepends = spdlog
	depends = glibc
	depends = gcc-libs
	depends = bzip2
	depends = zlib
	depends = libpng
	depends = libzip
	depends = fmt
	depends = tinyxml2
	depends = sdl2
	depends = zenity
	depends = libogg
	depends = libvorbis
	depends = opusfile
	depends = libglvnd
	depends = glibc
	depends = gcc-libs
	depends = bzip2
	depends = zlib
	depends = libpng
	depends = libzip
	depends = fmt
	depends = tinyxml2
	source = git+https://github.com/HarbourMasters/2ship2harkinian.git
	source = git+https://github.com/Kenix3/libultraship.git
	source = git+https://github.com/HarbourMasters/OTRExporter.git
	source = git+https://github.com/HarbourMasters/ZAPDTR.git
	source = 2s2h.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 8c8525a09a94c30106f44219c0f0239789d5c53cd6e30c7748b55f8d83cee24b

pkgname = 2s2h-git
	pkgdesc = An unofficial port of The Legend of Zelda Majora's Mask (git)
	install = 2s2h.install
	license = CC0-1.0
	depends = glibc
	depends = gcc-libs
	depends = bzip2
	depends = zlib
	depends = libpng
	depends = libzip
	depends = fmt
	depends = tinyxml2
	depends = sdl2
	depends = zenity
	depends = libogg
	depends = libvorbis
	depends = opusfile
	depends = libglvnd
	provides = 2s2h
	conflicts = 2s2h

pkgname = 2s2h-otr-exporter-git
	pkgdesc = OTR generation tools for 2S2H. Includes asset XML files needed for generation. (git)
	license = MIT
	depends = glibc
	depends = gcc-libs
	depends = bzip2
	depends = zlib
	depends = libpng
	depends = libzip
	depends = fmt
	depends = tinyxml2
	provides = 2s2h-otr-exporter
	conflicts = 2s2h-otr-exporter
