pkgbase = marathonrecomp-git
	pkgdesc = An unofficial PC port of the Xbox 360 version of Sonic the Hedgehog (2006) created through the process of static recompilation. (Git version)
	pkgver = r896.bd9c0bb
	pkgrel = 1
	url = https://github.com/sonicnext-dev/MarathonRecomp
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	depends = sdl2
	depends = sdl2_mixer
	depends = fmt
	depends = tomlplusplus
	depends = xxhash
	depends = zstd
	depends = curl
	source = git+https://github.com/sonicnext-dev/MarathonRecomp.git
	source = 215.patch
	source = system-libs.patch
	source = x11-none.patch
	source = fmt-10-compat.patch
	source = default.xex
	source = shader.arc
	source = shader_lt.arc
	sha256sums = SKIP
	sha256sums = 29b60a2400b43441ea90db72bb54896fdb5345abfcb834b08342909e487f4e1e
	sha256sums = 4515f869aad0c4276f12acc5bc402917f8d1f2f228f54beca4e5653680da3cc5
	sha256sums = eb37ea0b2926f00c198725e48fe5469b27c18728aa2264f7870b7aac90687028
	sha256sums = d4864aaf284d80bd2773640af58e1313157b3997ed74ab6bd369ecf149cdee56
	sha256sums = 373689b7c8bc839fbc00f55f756da7a1ff55d786d043423606db8bf7f3905c94
	sha256sums = 1bc8fd8d7a879ec6dcef4321ff19b8cbb05fabfc127f063ad56c9a7214e52ae2
	sha256sums = ca08119e9ee97e6a6fc4e2d48ad9492412d710f6ee8480e6a5318aa922659011

pkgname = marathonrecomp-git
