pkgbase = retroed-git
	pkgdesc = A general purpose tool suite for the Retro Engine (versions 1-5)
	pkgver = 2.0.2.r40.gefa811c
	pkgrel = 1
	url = https://github.com/RSDKModding/RetroED
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python
	makedepends = python-pytz
	depends = qt5-base
	depends = qt5-svg
	depends = glibc
	depends = gcc-libs
	depends = zlib
	provides = retroed
	conflicts = retroed
	source = RetroED::git+https://github.com/RSDKModding/RetroED.git
	sha256sums = SKIP

pkgname = retroed-git
