pkgbase = xenia-canary-git
	pkgdesc = An experimental emulator for the Xbox 360.
	pkgver = r8722.66af56ed7
	pkgrel = 1
	url = https://github.com/xenia-canary/xenia-canary
	arch = x86_64
	license = BSD-3-Clause
	makedepends = chrono-date
	makedepends = clang
	makedepends = cmake
	makedepends = cxxopts
	makedepends = git
	makedepends = ninja
	makedepends = rapidcsv
	makedepends = rapidjson
	makedepends = tomlplusplus
	makedepends = utf8cpp
	makedepends = vulkan-headers
	makedepends = vulkan-memory-allocator
	makedepends = xbyak
	depends = alsa-lib
	depends = capstone
	depends = fmt
	depends = gtk3
	depends = hicolor-icon-theme
	depends = pugixml
	depends = sdl2
	depends = snappy
	depends = xxhash
	depends = zarchive
	depends = zlib-ng
	depends = zstd
	provides = xenia
	conflicts = xenia
	conflicts = xenia-git
	source = xenia-canary-git::git+https://github.com/xenia-canary/xenia-canary.git#branch=canary_experimental
	source = FFmpeg::git+https://github.com/has207/FFmpeg.git#branch=xmaframes
	source = FidelityFX-CAS::git+https://github.com/GPUOpen-Effects/FidelityFX-CAS.git
	source = FidelityFX-FSR::git+https://github.com/GPUOpen-Effects/FidelityFX-FSR.git
	source = aes_128::git+https://github.com/openluopworld/aes_128.git
	source = catch::git+https://github.com/catchorg/Catch2.git
	source = discord-rpc::git+https://github.com/discordapp/discord-rpc.git
	source = disruptorplus::git+https://github.com/xenia-canary/disruptorplus.git
	source = glslang::git+https://github.com/KhronosGroup/glslang.git
	source = imgui::git+https://github.com/ocornut/imgui.git
	source = tabulate::git+https://github.com/p-ranav/tabulate.git
	source = xenia-canary-git.desktop
	source = 0001-Use-system-dependencies.patch
	source = 0002-Fix-physical-heap-test-alignment-on-Linux.patch
	source = 0003-support-none-build-type.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 6df34559e1bb42e1c0a67152a8f1ebd8c59bd890f6d7625f711ae80859165822
	sha256sums = 0060f567eaa6820055a480d36ec68b6371829668986dc77d65eda44e8fc7df0a
	sha256sums = 51f3ec6c06d2cbb7e27f8235c1aa2fc2ca99123462d9580f868104fef603068d
	sha256sums = d56f9c3e4cebb3816c2fc18fab3f7c1bc7c3f24820c2e2e34e23d9dbcc0741f0

pkgname = xenia-canary-git
