pkgbase = love-git
	pkgdesc = An open-source 2D game engine which uses the versatile Lua scripting language to create dynamic gaming experiences (git version)
	pkgver = 20241223.3a6a36e2
	pkgrel = 2
	url = http://love2d.org/
	arch = x86_64
	arch = aarch64
	license = zlib
	makedepends = cmake
	makedepends = git
	depends = desktop-file-utils
	depends = freetype2
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libmodplug
	depends = libtheora
	depends = libvorbis
	depends = luajit
	depends = openal
	depends = sdl3
	depends = shared-mime-info
	provides = love
	conflicts = love
	replaces = love-hg
	options = !strip
	source = git+https://github.com/love2d/love
	sha256sums = SKIP

pkgname = love-git
