pkgbase = mesen-ce-git
	pkgdesc = Multi-system emulator (NES, SNES, GB, GBA, PCE, SMS/GG, WS)
	pkgver = r3742.40335ce
	pkgrel = 1
	url = https://github.com/nesdev-org/MesenCE
	arch = x86_64
	license = GPL-3.0-only
	makedepends = dotnet-sdk-8.0
	makedepends = git
	makedepends = zip
	makedepends = clang
	makedepends = coreutils
	depends = libevdev
	depends = sdl2
	provides = mesen-ce
	conflicts = mesen-ce
	options = !strip
	options = !debug
	source = mesen-ce::git+https://github.com/nesdev-org/MesenCE.git
	source = mesen-disable-shortcut-creation.patch
	source = mesen-force-x11-on-linux.patch
	sha256sums = SKIP
	sha256sums = 73910f266b02d209106e366e79bb5ef7511fd2ad2db0febaceebf805f82580fc
	sha256sums = a2f1571e6edcece67820560eedfe9476282bcf61f09854d6c5db6ede41aa06f8

pkgname = mesen-ce-git
