pkgbase = eden-git
	pkgdesc = Nintendo Switch emulator forked from yuzu.
	pkgver = 0.2.0.r218.g13d39f3
	pkgrel = 1
	epoch = 1
	url = https://eden-emulator.github.io/
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = catch2
	makedepends = boost
	makedepends = spirv-headers
	makedepends = vulkan-headers
	makedepends = vulkan-utility-libraries
	makedepends = nlohmann-json
	makedepends = ninja
	makedepends = renderdoc
	makedepends = qt6-tools
	makedepends = nasm
	makedepends = opencl-headers
	makedepends = doxygen
	makedepends = cpp-httplib
	makedepends = cpp-jwt
	depends = libusb
	depends = libva
	depends = qt6-webengine
	depends = brotli
	depends = qt6-charts
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = sdl3
	depends = quazip-qt6
	depends = qt6-multimedia
	depends = fmt
	depends = boost-libs
	depends = opus
	depends = libdrm
	depends = enet
	depends = cubeb
	depends = game-devices-udev
	depends = zlib
	depends = openssl
	depends = libx11
	depends = libgcc
	depends = libstdc++
	depends = lz4
	depends = glibc
	depends = zstd
	optdepends = gamemode: Gamemoded support
	provides = eden
	conflicts = eden
	conflicts = eden-beta
	conflicts = eden-bin
	conflicts = eden-preview-bin
	source = git+https://git.eden-emu.dev/eden-emu/eden.git
	source = httplib-0.52-headers-contains.patch
	sha256sums = SKIP
	sha256sums = 3e508dc35e9e64f8d22d01f2237fe21108b8858c097de513a4a13938c48c4162

pkgname = eden-git
