pkgbase = srb2classic-git
	pkgdesc = A Sonic fan game based on the Doom engine, focusing on retro gameplay style
	pkgver = 2.2.17.beta12.r9.d02dc93
	pkgrel = 1
	url = https://codeberg.org/srb2classic/srb2classic
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = git
	makedepends = cmake
	makedepends = python-pillow
	depends = sdl3
	depends = libpng
	depends = zlib
	depends = curl
	depends = libsndfile
	depends = libgme
	depends = libopenmpt
	depends = miniupnpc
	depends = fluidsynth
	provides = srb2classic
	conflicts = srb2classic
	source = srb2classic::git+https://codeberg.org/srb2classic/srb2classic.git
	source = srb2classic-assets::git+https://codeberg.org/srb2classic/srb2classic-assets.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = srb2classic-git
