pkgbase = msbt-editor-git
	pkgdesc = A modern editor for MSBT and BMG files. (Git version)
	pkgver = 3.3.4.r1.gef3dc89
	pkgrel = 1
	url = https://gitlab.com/AeonSake/msbt-editor
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = dotnet-sdk-10.0
	makedepends = npm
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = gcc-libs
	depends = glibc
	depends = libcups
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxrender
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = zlib
	provides = msbt-editor
	conflicts = msbt-editor
	source = git+https://gitlab.com/AeonSake/msbt-editor.git
	source = msbt-editor.desktop
	source = msbt-editor.sh
	sha256sums = SKIP
	sha256sums = 4e0e2ca8b8e1f0db160a872b783dc76612ede3372e9240c5e7fbed5d9102ba5c
	sha256sums = 7cb5f1a894ba3d3a4e328f23e8e99f0ddb68f6171e483cb8b706e1f50712ad48

pkgname = msbt-editor-git
