pkgbase = rpcs3-git
	pkgdesc = A Sony PlayStation 3 emulator
	pkgver = 0.0.40.r19347.6b5a2f781a
	pkgrel = 1
	url = https://github.com/RPCS3/rpcs3
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = git
	makedepends = libglvnd
	makedepends = python
	makedepends = clang
	makedepends = lld
	makedepends = vulkan-headers
	makedepends = vulkan-memory-allocator
	depends = alsa-lib
	depends = cubeb
	depends = curl
	depends = faudio
	depends = ffmpeg
	depends = glew
	depends = glslang
	depends = glu
	depends = hidapi
	depends = libevdev
	depends = libgl
	depends = libice
	depends = libpng
	depends = libpulse
	depends = libsm
	depends = libusb
	depends = libx11
	depends = libxext
	depends = llvm
	depends = miniupnpc
	depends = openal
	depends = opencv
	depends = protobuf
	depends = pugixml
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-svg
	depends = rtmidi
	depends = sdl3
	depends = vulkan-icd-loader
	depends = zlib
	depends = zstd
	optdepends = vulkan-validation-layers
	optdepends = rpcs3-udev
	provides = rpcs3
	conflicts = rpcs3
	options = !emptydirs
	options = !strip
	source = git+https://github.com/RPCS3/rpcs3.git
	source = git+https://github.com/KhronosGroup/glslang.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rpcs3-git
