[Desktop Entry]
Version=1.0
Name=Zelda 64: Recompiled
Comment=A native port of the N64 Legend of Zelda games, statically recompiled
Exec=Zelda64Recompiled
Terminal=false
Icon=zelda64recomp
Type=Application
Categories=Game;Retro;
