pkgbase = tunebloom-git
	pkgdesc = BFSAR (Binary caFe Sound ARchive) editor written in C++ (Git version)
	pkgver = 1.01.r26.g8e6f078
	pkgrel = 1
	url = https://github.com/stupidestmodder/TuneBloom
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = premake
	makedepends = clang
	depends = gcc-libs
	depends = glibc
	depends = libx11
	depends = libxrandr
	depends = libxinerama
	depends = libxcursor
	depends = libxi
	depends = libglvnd
	depends = alsa-lib
	provides = tunebloom
	conflicts = tunebloom
	source = git+https://github.com/stupidestmodder/TuneBloom.git
	source = git+https://github.com/stupidestmodder/sead.git
	source = git+https://github.com/glfw/glfw.git
	source = tunebloom.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = tunebloom-git
