pkgbase = cemu-git
	pkgdesc = Nintendo Wii U emulator
	pkgver = 2.6.r221.g591e721
	pkgrel = 1
	url = https://cemu.info/
	arch = x86_64
	license = MPL-2.0
	makedepends = bluez-libs
	makedepends = boost
	makedepends = boost-libs
	makedepends = cmake
	makedepends = cubeb
	makedepends = curl
	makedepends = fmt>=9
	makedepends = git
	makedepends = glib2
	makedepends = glm
	makedepends = glu
	makedepends = gtk3
	makedepends = hidapi
	makedepends = libgcc
	makedepends = libgl
	makedepends = libpng
	makedepends = libstdc++
	makedepends = libusb
	makedepends = libzip
	makedepends = nasm
	makedepends = openssl
	makedepends = rapidjson
	makedepends = vulkan-headers>=1:1.3.225
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = zarchive>=0.1.2
	makedepends = zlib
	makedepends = zstd
	makedepends = gspell
	makedepends = libwebp
	makedepends = gst-plugins-bad-libs
	depends = glibc
	depends = glslang>=14
	depends = hicolor-icon-theme
	depends = libx11
	depends = pugixml
	depends = sdl2
	depends = wxwidgets-gtk3
	provides = cemu
	conflicts = cemu
	source = cemu::git+https://github.com/cemu-project/Cemu.git
	source = imgui::git+https://github.com/ocornut/imgui.git
	source = wx32.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 4dcb535b3d6681e3c8390946d67a24780bd0cff234398cc19d0bcce525a134d58e74c3a497d722db7fb45f381e1c5086d73801c85db8249b9ed86b7406555ea1

pkgname = cemu-git
	depends = glibc
	depends = glslang>=14
	depends = hicolor-icon-theme
	depends = libx11
	depends = pugixml
	depends = sdl2
	depends = wxwidgets-gtk3
	depends = libbluetooth.so
	depends = libboost_program_options.so
	depends = libcrypto.so
	depends = libcubeb.so
	depends = libcurl.so
	depends = libfmt.so
	depends = libgcc_s.so
	depends = libgdk-3.so
	depends = libgobject-2.0.so
	depends = libgtk-3.so
	depends = libhidapi-hidraw.so
	depends = libssl.so
	depends = libstdc++.so
	depends = libusb-1.0.so
	depends = libwayland-client.so
	depends = libz.so
	depends = libzarchive.so
	depends = libzip.so
	depends = libzstd.so
